<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">TSA links</h4>
        <div class="ui inverted link list">
          <a href="https://www.facebook.com/groups/185901551529428/" target="_blank" class="item">Facebook Fan Page</a>
          <a href="https://sites.google.com/site/tsaattexas/team-announcements" target="_blank" class="item">News Blog</a>
          <a href="mailto:tsa.in.texas@gmail.com" target="_blank" class="item">Email Us</a>
          <a href="https://drive.google.com/file/d/0ByAazKz73XvUUmh3bWsyZVJqZmM/view" target="_blank" class="item">Survival Guide</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Sponsors</h4>
        <div class="ui inverted link list">
          <a href="http://www.charlene-transport.com/" target="_blank" class="item">巨力海運</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header">Any Feedback?</h4>
        <a href="mailto:tsa.in.texas@gmail.com" target="_blank" class="item">Please tell us!</a>
        <br>
      </div>
    </div>
  </div>
</div>
