<div class="" style="height:30px;"></div>
<div class="ui four item menu" >
    <a class="header item" href="/" id="index">Austin TSA Go</a>
    <a class="item" href="/food" id="travelTimePrediction">Food</a>
    <a class="item" href="/living" id="historyStats">Living</a>
    <a class="item" href="/travel" id="heatmap">Travel</a>
</div>
