<div class="" style="height:30px;"></div>
<div class="ui three item menu" >
    <a class="header item" href="/" id="index"><i class="location arrow icon"></i>Austin TSA Go</a>
    <a class="item" href="/food" id="travelTimePrediction"><i class="food icon"></i>Food</a>
    <a class="item" href="/living" id="historyStats"><i class="map icon"></i>Living</a>
    <!-- <a class="item" href="/travel" id="heatmap">Travel</a> -->
</div>
