<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Food - Austin TSA Go</title>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <div class="ui container">
      <% include ../partials/nav.ejs %>
      <%= name %>
      <div id="map" style="height: 400px;"></div>
    </div>

    <script>
      function initMap() {
        var uluru = {lat: 30.2849, lng: -97.7341};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqSZN4x6BL2glI3tRmXSBLryKO1m1ugBA&callback=initMap">
    </script>
  </body>
</html>
